name: Update packages

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update panel (stable)
        run: nix run nixpkgs#nix-update -- panel --flake --subpackage frontend --commit

      - name: Update panel-nightly
        run: nix run nixpkgs#nix-update -- panel-nightly --flake --version=branch=nightly --subpackage frontend --commit

      - name: Push changes
        run: git push
